In [3]:
import io
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
txt = io.open("Teremok.txt", encoding='utf-8')
contents = txt.read()
soup = BeautifulSoup(contents, 'html.parser')
# print(soup.prettify())

In [5]:
positive = soup.find_all(class_="reviewPositive")
negative = soup.find_all(class_="reviewNegative")

In [6]:
List = []
count = 0
for x in positive:
    r = x.find(class_="reviewText").get_text()
    List.append(r)
    count+=1

In [7]:
statusListP = [1] * (count)
stat = pd.DataFrame(statusListP, columns=['Status'])
dfP = pd.DataFrame(List, columns=['Review'])
dfP = pd.concat([dfP, stat], axis=1)
dfP

                                                Review  Status
0     Неплохое место для обеда за недорого. заказыв...       1
1     Мы с семьёй, если хотим быстро перекусить вне...       1
2     Обращение «сударь» не оставляет равнодушным. ...       1
3     Надо было быстро перекусить в обед и далее мч...       1
4     Любите блинчики, пельмени, квас и морс? Тогда...       1
..                                                 ...     ...
162  \n            Блинчики отличные, да и остальны...       1
163  \n            Если очень хотите кушать, а в ка...       1
164  \n            Когда я хочу быстро и вкусно пок...       1
165  \n            Частенько туда захожу после учёб...       1
166  \n            Мне очень нравиться обслуживание...       1

[167 rows x 2 columns]

In [8]:
List = []
count = 0
for x in negative:
    r = x.find(class_="reviewText").get_text()
    List.append(r)
    count+=1

In [9]:
statusListN = [0] * (count)
stat = pd.DataFrame(statusListN, columns=['Status'])
dfN = pd.DataFrame(List, columns=['Review'])
dfN = pd.concat([dfN, stat], axis=1)
dfN

                                               Review  Status
0    Добрый день. Пыталась посетить вообще заведен...       0
1    Цены стали не бюджетными. Еда не питательна. ...       0
2    Хотела купить сырники, но кассир отказалась п...       0
3    Невкусно, некачественно, дорого, неуважительн...       0
4    Захотелось горохового супа. Налили меньше пол...       0
..                                                ...     ...
78  \n            Вчера, 24 декабря, была в ТЦ Мег...       0
79  \n            Сегодня купила блин Цезарь в "Те...       0
80  \n            Блинчик с грибами и сыром - холо...       0
81  \n            22.01.2013 при оплате заказа в Т...       0
82  \n            Ужасно поела в "Теремке": каша г...       0

[83 rows x 2 columns]

In [10]:
result = pd.concat([dfN, dfP], axis=0, ignore_index=True)
result

                                                Review  Status
0     Добрый день. Пыталась посетить вообще заведен...       0
1     Цены стали не бюджетными. Еда не питательна. ...       0
2     Хотела купить сырники, но кассир отказалась п...       0
3     Невкусно, некачественно, дорого, неуважительн...       0
4     Захотелось горохового супа. Налили меньше пол...       0
..                                                 ...     ...
245  \n            Блинчики отличные, да и остальны...       1
246  \n            Если очень хотите кушать, а в ка...       1
247  \n            Когда я хочу быстро и вкусно пок...       1
248  \n            Частенько туда захожу после учёб...       1
249  \n            Мне очень нравиться обслуживание...       1

[250 rows x 2 columns]

In [13]:
result.to_csv('Reviews-GadkiyKoyot.csv', index=False)

In [14]:
df1 = pd.read_csv("ReviewsAll.csv")
df1

                                                 Review  Status
0      Добрый день! Ужасное место! Еда холодная, бул...       0
1      02, 01, 2022 я с ребенком зашла в кфс Братеев...       0
2      Сделал заказ в 12:23. Время доставки назначил...       0
3      Оформила заказ в 18:28, постоянно увеличивают...       0
4      Вчера делали заказ в КФС в Меге Теплый Стан. ...       0
...                                                 ...     ...
9069  \n            Меня Грабли устраивают по всем п...       1
9070  \n            Часто ходим в Грабли с женой пос...       1
9071  \n            Зашла в воскресенье в «Грабли» н...       1
9072  \n            Помню, как когда то Грабли привл...       1
9073  \n            У меня в «Граблях» на Пятницкой ...       1

[9074 rows x 2 columns]

In [15]:
df2 = result
combine = pd.concat([df1, df2], axis=0, ignore_index=True)
combine

                                                 Review  Status
0      Добрый день! Ужасное место! Еда холодная, бул...       0
1      02, 01, 2022 я с ребенком зашла в кфс Братеев...       0
2      Сделал заказ в 12:23. Время доставки назначил...       0
3      Оформила заказ в 18:28, постоянно увеличивают...       0
4      Вчера делали заказ в КФС в Меге Теплый Стан. ...       0
...                                                 ...     ...
9319  \n            Блинчики отличные, да и остальны...       1
9320  \n            Если очень хотите кушать, а в ка...       1
9321  \n            Когда я хочу быстро и вкусно пок...       1
9322  \n            Частенько туда захожу после учёб...       1
9323  \n            Мне очень нравиться обслуживание...       1

[9324 rows x 2 columns]

In [161]:
combine.to_csv('ReviewsAll.csv', index=False)